
header{
    font-size: 40pt;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #F2F2F2;
    align-items: right;
    font-family: Arial, Helvetica, sans-serif;
}

.logo{
    text-align: center;
    width: 30%;
    
}

#logomarca{
    width:30% ;
}

.titulo{
    display: block;
    text-align: left;
    width: 50%;

}
#titulo{
    margin: 0;
    font-size: 100%;
}
#slogan{
    margin: 0;
    font-size: 50%;
}

.usuario{
    text-align: center;
    display: block;
    width: 20%;
}

#icone-usuario{
   
    width: 30%;
}